version: '3'

services:
  db:
    image: postgres
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - POSTGRES_DB=bubbles
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:9090
    volumes:
      - .:/app
    ports:
      - "9090:9090"
    depends_on:
      - db